<div class="login-section">
  <div class="row justify-conent-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <mat-card class="example-card">
            <mat-card-content>
              <mat-card-title>Inscription Etudient</mat-card-title>

              <form [formGroup]="RegisterEtudient" (ngSubmit)="onSubmit1()">
                <ng-container class="col-2">
                  <mat-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="personForm">
                      <div formArrayName="person" class="mat-mdc-form-field">
                        <ng-template matStepLabel>Details </ng-template>
                        <h3>Entrez votre donnes de Personele</h3>
                        <mat-form-field appearance="fill">
                          <mat-label>Non</mat-label>
                          <input
                            matInput
                            placeholder="Le nom"
                            formControlName="nom"
                          />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Votre prenom</mat-label>
                          <input
                            matInput
                            placeholder="Le prenom"
                            formControlName="prenom"
                          />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Votre INE</mat-label>
                          <input
                            matInput
                            placeholder="Le numero d`identification"
                            formControlName="INE"
                            type="number"
                          />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Votre date de naissance</mat-label>
                          <input
                            matInput
                            placeholder="Le prenom"
                            formControlName="date_naissance"
                            type="date"
                          />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Email</mat-label>
                          <input
                            matInput
                            placeholder="Votre email"
                            formControlName="email"
                          />
                        </mat-form-field>
                        <div>
                          <button
                            mat-flat-button
                            color="primary"
                            matStepperNext
                          >
                            Next
                          </button>
                        </div>
                      </div>
                    </mat-step>
                    <mat-step [stepControl]="etudeForm" label="Etude">
                      <div formGroupName="etude">
                        <h3>Entrez votre donnes de d`etude</h3>
                        <mat-form-field appearance="fill">
                          <mat-label>Etablisement</mat-label>
                          <select
                            matNativeControl
                            formControlName="etablisement"
                          >
                            <option
                              value="{{ faculite }}"
                              *ngFor="let faculite of faculites"
                              [value]="faculite"
                            >
                              {{ faculite }}
                            </option>
                            <option
                              value="{{ institut }}"
                              *ngFor="let institut of instituts"
                              [value]="institut"
                            >
                              {{ institut }}
                            </option>
                          </select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Niveau</mat-label>
                          <select matNativeControl formControlName="niveau">
                            <option
                              value="{{ niveau }}"
                              *ngFor="let niveau of Niveau"
                              [value]="niveau"
                            >
                              {{ niveau }}
                            </option>
                          </select>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>Immatriculation</mat-label>
                          <input
                            matInput
                            formControlName="numero_immatriculation"
                            placeholder="Votre matircule"
                          />
                        </mat-form-field>
                        <div>
                          <button
                            mat-flat-button
                            color="primary"
                            matStepperPrevious
                          >
                            Back
                          </button>
                          |
                          <button
                            mat-flat-button
                            color="primary"
                            matStepperNext
                            (click)="save()"
                          >
                            Save
                          </button>
                        </div>
                      </div>
                    </mat-step>
                    <mat-step [stepControl]="contactForm">
                      <ng-template matStepLabel>Success</ng-template>
                      <h3>Votre donnes de vote</h3>
                      <p>{{ email }}</p>
                      <p>{{ INE }}</p>
                      <p>Code: a reccupez plus tard</p>
                      <p>You are now done.</p>
                      <button
                        mat-flat-button
                        color="primary"
                        [routerLink]="'/vote/syndicat'"
                        style="width: 100%"
                      >
                        Accedez au vote
                      </button>
                      <div></div>
                    </mat-step>
                  </mat-stepper>
                </ng-container>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
