.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 10px;
}
.mat-mdc-form-field {
  width: 100%;
}
.tab-content {
  width: 50%;
}

.example-card {
  max-width: 600px;
  text-align: center;
}
